.about-us{
    margin-top: 100px;
    &__block-one{
        .img{
            width: 100%;
            border-radius: 10px;
        }
        .feature-block{
            font-weight: 700;
            line-height: 2;
            i{
                color: $color-blue;
            }
        }
    }
    &__block-two{
        margin-top: 100px;
        .number-block{
            box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: 0.15);
            padding: 20px;
            border-radius: 5px;
            font-weight: 700;
            text-align: center;
            width: 90%;
            margin: auto;
            &__number{
                font-weight: 700;
            }
            span{
                font-size: 23px;
                color: $color-blue;
            }
        }
    }
}