.about-info{
    margin-top: 100px;
    padding: 100px 0;
    text-align: center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        background: rgba($color: $color-bgdark, $alpha: 0.85);
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
    }
    .img-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    &__img{
        top: 150px;
        .img-item{
            border-radius: 50%;
            margin-top: 30px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
            border: 4px solid white;
            transform: scale(0.53);
            margin: 0 -30px;
        }
        .active{
            transform: scale(0.6);
        }
    }
    &__content{
        color: white;
        p{
            width: 50%;
            margin: 20px auto;
            font-size: 30px;
            font-weight: 700;
        }
        img{
            width: 60px;
        }
    }
}
@media only screen and (max-width:992px){
    .about-info{
        &__content{
            p{
                width: 80%;
                font-size: 25px;
            }
        }
    }
}
@media only screen and (max-width:576px){
    .about-info{
        &__content{
            p{
                width: 90%;
                font-size: 20px;
            }
        }
    }
}